/* update css  */

header {
  background-color: rgb(15, 200, 233);
  padding: 10px;
}
nav {
	padding: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgba(94, 22, 228, 0.521) !important;
	color: white;
	margin: -15px 0;
	font-family: "Chakra Petch", sans-serif;
}

