body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	background: url("https://images.unsplash.com/photo-1516331138075-f3adc1e149cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1983&q=80");
	color: rgb(250, 248, 252);
	width: 100%;
	height: 100vh;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	animation: animation 100s linear infinite;
}

body {
	background-image: url("https://images.unsplash.com/photo-1516331138075-f3adc1e149cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1983&q=80");
	background-color: #cccccc;
};